.grid__container {
    display: flex;
    position: relative;
    width: calc(100% - 80px);
    height: calc(100% - 80px);
    padding: 40px;
    overflow-x: scroll;
}

.grid__center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.chess__row {
    display: flex;
    height: 60px;
    width: 60px;
    background-color: rgba(181, 199, 201, 0.7);
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    box-shadow: inset 2px 2px 1px 0 rgba(162, 176, 186, 0.9);
}

.robby {
    display: block;
    transform: scale(1.02);
}

.grid__columns {
    display: flex;
    flex-direction: row;
}

.grid__columns:nth-child(odd) .chess__row:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 3px;
    box-shadow: inset -2px -2px 2px 0 rgba(255, 255, 255, 0.6);
}

.grid__columns:nth-child(even) .chess__row:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 3px;
    box-shadow: inset -2px -2px 2px 0 rgba(255, 255, 255, 0.6);
}



.grid__pausePlay {
    position: absolute;
    top: 6px;
    left: 6px;
    height: 20px;
    width: 15px;
    background-color: #fff;
    border-radius: 0px;
    padding: 0;
    cursor: pointer;
    box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.9), 0 0 1px 4px rgba(0, 42, 255, 0.9);
}

.grid__pausePlay:hover {
    background-color: lightblue;
    box-shadow: 0 0 0 3px lightgreen;
}